.inline-loader-container {
    display:    flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
}

.inline-loader {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.inline-spinner {
    border: 6px solid #ff4fa741;
    width: 36px; /* Reduced size for inline appearance */
    height: 36px; /* Reduced size for inline appearance */
    border-radius: 50%;
    border-top-color: #a84fff;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}